{% extends "Aprendo/base.html" %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <li><h3>
             <a href="{% url 'Aprendo:topic' topic.id %}">{{ topic }}</a>
            </h3></li>
        {% empty %}
            <li><h3>No se an agregado temas todavia.</h3></li>
        {% endfor %}
    </ul>

    <h3><a href="{% url 'Aprendo:new_topic' %}">Agregar un nuevo tema</a></h3>

{% endblock content %}